<div class="col-md-3 col-sm-3">
  <div class="content-form-page">
    <ul class="list-unstyled">
      <li *ngFor="let menu of result">
        <input type="radio" name="parent" value="{{menu.id}}" [(ngModel)]="parentId" style="margin-right:10px">{{menu.name}}
        <ul class="list-unstyled">
          <ng-container *ngFor="let menu_1 of menu2Observable  | async">
            <li style="margin-left: 20px" *ngIf="menu.id === menu_1.parentId">
              <input type="radio" name="parent" value="{{menu_1.id}}" [(ngModel)]="parentId" style="margin-right:10px"> {{menu_1.name}}
              <ul class="list-unstyled">
                <ng-container *ngFor="let menu_2 of menu3Observable| async">
                  <li style="margin-left: 20px" *ngIf="menu_1.id === menu_2.parentId">
                    <input type="radio" name="parent" value="{{menu_2.id}}" [(ngModel)]="parentId" style="margin-right:10px"> {{menu_2.name}}
                  </li>
                </ng-container>
              </ul>
            </li>
          </ng-container>
        </ul>
      </li>
    </ul>
  </div>
</div>
<div class="col-md-6 col-sm-4">

  <div class="content-form-page">
    <input #file type="file" multiple (change)="upload(file.files)" />
    <br/>
    <span style="font-weight:bold;color:green;" *ngIf="progress > 0 && progress < 100">
      {{progress}}%
    </span>

    <span style="font-weight:bold;color:green;" *ngIf="message">
      {{message}}
    </span>
    <form name="userform" method="post" #formCtrl="ngForm" class="form-horizontal form-without-legend">
      <div class="form-group">
        <label class="col-lg-2 control-label" for="first-name">Tên sản phẩm
          <span class="require">*</span>
        </label>
        <div class="col-lg-8">
          <input type="text" class="form-control" name="productName" [(ngModel)]="productName" required />
        </div>
      </div>
      <div class="form-group">
          <label class="col-lg-2 control-label" for="first-name">Link video
          </label>
          <div class="col-lg-8">
            <input type="text" class="form-control" name="video" [(ngModel)]="video" />
          </div>
      </div>
      <div class="form-group">
        
        <label class="col-lg-2 control-label" for="first-name">Mô tả
        </label>
        <div class="col-lg-8">
          <textarea rows="4" cols="50" [(ngModel)]="content" [ngModelOptions]="{standalone: true}">
          </textarea>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 col-md-offset-2 padding-left-0 padding-top-20">
          <button class="btn btn-primary" type="button" (click)="Save()" [disabled]="formCtrl.form.invalid">Save</button>
        </div>
      </div>
    </form>
  </div>
</div>