<div class="col-md-3 col-sm-3">
  <ul class="list-unstyled">
    <li *ngFor="let menu of result">
      <input type="radio" name="parent" value="{{menu.id}}" [(ngModel)]="parentId" style="margin-right:10px">{{menu.name}}
      <ul class="list-unstyled">
        <ng-container *ngFor="let menu_1 of menu2Observable  | async">
          <li style="margin-left: 20px" *ngIf="menu.id === menu_1.parentId">
            <input type="radio" name="parent" value="{{menu_1.id}}" [(ngModel)]="parentId" style="margin-right:10px"> {{menu_1.name}}
            <i (click)="Delete(menu_1.id)">x</i>
            <ul class="list-unstyled">
              <ng-container *ngFor="let menu_2 of menu3Observable| async">
                <li style="margin-left: 20px" *ngIf="menu_1.id === menu_2.parentId">
                  {{menu_2.name}}
                  <i (click)="Delete(menu_2.id)">x</i>
                </li>
              </ng-container>
            </ul>
          </li>
        </ng-container>
      </ul>
    </li>
  </ul>
</div>
<div class="col-md-6 col-sm-4">
  <div class="content-form-page">
    <form name="userform" method="post" #formCtrl="ngForm" class="form-horizontal form-without-legend">
      <div class="form-group">
        <label class="col-lg-2 control-label" for="first-name">Tên menu
          <span class="require">*</span>
        </label>
        <div class="col-lg-8">
          <input type="text" class="form-control" name="menuName" [(ngModel)]="menuName" required />
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 col-md-offset-2 padding-left-0 padding-top-20">
          <button class="btn btn-primary" type="button" (click)="Save()" [disabled]="formCtrl.form.invalid">Save</button>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- END CONTENT -->