<!-- BEGIN SLIDER -->
<div class="page-slider margin-bottom-35">
    <div id="carousel-example-generic" data-ride="carousel" data-interval="2000" class="carousel slide carousel-slider center">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            <li data-target="#carousel-example-generic" data-slide-to="3"></li>
            <li data-target="#carousel-example-generic" data-slide-to="4"></li>
            <li data-target="#carousel-example-generic" data-slide-to="5"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <!-- First slide -->
            <div class="item carousel-item-four active">
                <div class="container">
                    <div class="carousel-position-four text-center">
                        <h2 class="margin-bottom-20 animate-delay carousel-title-v3 border-bottom-title text-uppercase" data-animation="animated fadeInDown">
                            WELCOME TO
                            <br/>
                            <span class="color-red-v2">NỘI THẤT BÌNH MINH</span>
                            <br/>
                        </h2>
                        <p class="carousel-subtitle-v2" data-animation="animated fadeInDown">
                            GỌI CHO CHÚNG TÔI:
                            <a href="tel:{{ (configObservable | async)?.phone }}">{{ (configObservable | async)?.phone }}</a>
                        </p>
                    </div>
                </div>
            </div>

            <!-- Second slide -->
            <div class="item carousel-item-five">
                <div class="container">
                    <div class="carousel-position-four text-center">
                        <h2 class="animate-delay carousel-title-v4" data-animation="animated fadeInDown">
                            WE ARE PROFESSIONALS
                        </h2>
                        <p class="carousel-subtitle-v2" data-animation="animated fadeInDown">
                            MAKE YOUR LIFE GOOD
                        </p>
                        <p class="carousel-subtitle-v2" data-animation="animated fadeInDown">
                            HOTONLINE:
                            <a href="tel:{{ (configObservable | async)?.phone }}">{{ (configObservable | async)?.phone }}</a>
                        </p>
                    </div>
                </div>
            </div>
            <!-- Third slide -->
            <div class="item carousel-item-six">
                <div class="container">
                    <div class="carousel-position-four text-center">
                        <span class="carousel-subtitle-v3 margin-bottom-15" data-animation="animated fadeInDown">
                            YOUR LIFE EASIER
                        </span>
                        <p class="carousel-subtitle-v4" data-animation="animated fadeInDown">
                            PROFESSIONALTEAM Here
                        </p>
                        <p class="carousel-subtitle-v3" data-animation="animated fadeInDown">
                            Is Ready For Your Home
                        </p>
                    </div>

                </div>
            </div>

            <!-- Fourth slide -->
            <div class="item carousel-item-seven">
                <div class="container">
                    <div class="carousel-position-four text-center">

                    </div>
                </div>
            </div>
            <div class="item carousel-item-three">
                <div class="container">
                    <div class="carousel-position-four text-center">
                        <span class="carousel-subtitle-v3 margin-bottom-15" data-animation="animated fadeInDown">
                            Is Ready For Your Home
                        </span>
                    </div>
                </div>
            </div>
            <div class="item carousel-item-two">
                <div class="container">
                    <div class="carousel-position-four text-center">

                    </div>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control carousel-control-shop" href="#carousel-example-generic" role="button" data-slide="prev">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
        </a>
        <a class="right carousel-control carousel-control-shop" href="#carousel-example-generic" role="button" data-slide="next">
            <i class="fa fa-angle-right" aria-hidden="true"></i>
        </a>
    </div>
</div>
<!-- END SLIDER -->