<div class="main">
  <div class="container">
    <ul class="breadcrumb">
      <li>
        <a href="index.html">Home</a>
      </li>
      <li class="active">Quản trị</li>
    </ul>
    <!-- BEGIN SIDEBAR & CONTENT -->
    <div class="row margin-bottom-40">
      <!-- BEGIN SIDEBAR -->
      <div class="sidebar col-md-3 col-sm-5">
        <ul class="list-group margin-bottom-25 sidebar-menu">
            <li class="list-group-item clearfix">
                <a [routerLink]="['./config']">
                  <i class="fa fa-angle-right"></i>Quản lí config</a>
              </li>
          <li class="list-group-item clearfix">
            <a [routerLink]="['./menus']">
              <i class="fa fa-angle-right"></i>Quản lí menu</a>
          </li>
          <li class="list-group-item clearfix">
            <a [routerLink]="['./products']">
              <i class="fa fa-angle-right"></i>Danh mục sản phẩm</a>
          </li>
          <li class="list-group-item clearfix">
              <a [routerLink]="['./changepass']">
                <i class="fa fa-angle-right"></i>Thay đổi mật khẩu</a>
            </li>
          <li class="list-group-item clearfix" (click)="logout()">
            <i class="fa fa-angle-right"></i>Thoát</li>
        </ul>
      </div>
      <!-- END SIDEBAR -->
      <router-outlet></router-outlet>

    </div>
    <!-- END SIDEBAR & CONTENT -->
  </div>
</div>